.header{
    background-color:rgba(255, 255, 255, 1) ;
}
.text{
    font-family:'Raleway', sans-serif; 
    color:rgba(33, 33, 33, 1) ;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 3%;
    text-decoration: none;}


    
    .webtext{
        color:rgba(33, 150, 243, 1) ;
    }

.studio{
    font-family:  'Roboto', sans-serif;
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
}
.studio:hover {color:rgba(33, 150, 243, 1) ;}
.studio:hover, .studio:focus{color:rgba(33, 150, 243, 1) ;}




.portfolio{
    font-family:  'Roboto', sans-serif;
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
}
.portfolio:hover {color:rgba(33, 150, 243, 1) ;}
.portfolio:hover, .portfolio:focus {color:rgba(33, 150, 243, 1) ;}

.contacts{
    font-family:  'Roboto', sans-serif;
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
}
.contacts:hover {color:rgba(33, 150, 243, 1) ;}
.contacts:hover, .contacts:focus{color:rgba(33, 150, 243, 1) ;}


.email{
    font-family:  'Roboto', sans-serif;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
}
.email:hover {color:rgba(33, 150, 243, 1) ;}

.phone{
    font-family:  'Roboto', sans-serif;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
}
.phone:hover {color:rgba(33, 150, 243, 1) ;}
}


.bottons{
    color:rgba(255, 255, 255, 1);
    font-family:'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%; 
    font-style: normal;
    background-color: rgba(33, 150, 243, 1);
    text-decoration: none;
}

.titlemain{
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif; 
    font-weight: 900px;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    align-items: center;}

.section{
    background-color:rgba(47, 48, 58, 1) ;
}



.box1{
    font-family: 'Roboto', sans-serif; 
    color:rgba(33, 33, 33, 1) ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.p1{
font-family: 'Roboto', sans-serif; 
color: rgba(117, 117, 117, 1);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 3%;

}
.box2{
    font-family: 'Roboto', sans-serif; 
    color:rgba(33, 33, 33, 1) ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.p2{
    font-family: 'Roboto', sans-serif; 
    color: rgba(117, 117, 117, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;}

    
.box3{
    font-family: 'Roboto', sans-serif; 
    color:rgba(33, 33, 33, 1) ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.p3{
    font-family: 'Roboto', sans-serif; 
    color: rgba(117, 117, 117, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;}

.box4{
    font-family: 'Roboto', sans-serif; 
    color:rgba(33, 33, 33, 1) ;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3%;
    text-transform: uppercase;
}
.p4{
    font-family: 'Roboto', sans-serif; 
    color: rgba(117, 117, 117, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;}


    .tittleimg{
font-family: 'Roboto', sans-serif; 
color: rgba(33, 33, 33, 1);
font-style: normal;
font-weight: 700px;
font-size: 36px;
line-height: 42.19px;
letter-spacing: 3%;
align-items: center;
}

.comand{
    background-color:rgba(245, 244, 250, 1) ;
}

.textcomand{
    font-family:'Roboto', sans-serif; 
    color: rgba(33, 33, 33, 1);
    font-weight: 700px;
    font-style: normal;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    align-items: center;

}

.human1{
    font-family: 'Roboto', sans-serif; 
    color: rgba(33, 33, 33, 1);
    font-weight: 500px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}
.profession1{
    font-family: 'Roboto', sans-serif; 
    color:rgba(117, 117, 117, 1);
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}

.human2{
    font-family: 'Roboto', sans-serif; 
    color: rgba(33, 33, 33, 1);
    font-weight: 500px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}
.profession2{
    font-family: 'Roboto', sans-serif; 
    color:rgba(117, 117, 117, 1);
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}

.human3{
    font-family: 'Roboto', sans-serif; 
    color: rgba(33, 33, 33, 1);
    font-weight: 500px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}
.profession3{
    font-family: 'Roboto', sans-serif; 
    color:rgba(117, 117, 117, 1);
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}

.human4{
    font-family: 'Roboto', sans-serif; 
    color: rgba(33, 33, 33, 1);
    font-weight: 500px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}
.profession4{
    font-family: 'Roboto', sans-serif; 
    color:rgba(117, 117, 117, 1);
    font-weight: 400px;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    align-items: center;
}


.footer{
    background-color: rgba(47, 48, 58, 1);
}

.textfooter{
    font-family:'Raleway', sans-serif; 
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 3%;
    text-decoration: none;
}

    .adress{
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 3%;
    }

    .email2{
        font-family: 'Roboto', sans-serif; 
        color:rgba(255, 255, 255, 0.6);
        font-weight: 400px;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 3%;  
    }
    .email2:hover{color:rgba(33, 150, 243, 1) ;}
    .email2:hover {color:rgba(33, 150, 243, 1) ;}

    .phone2{
        font-family: 'Roboto', sans-serif; 
        color:rgba(255, 255, 255, 0.6);
        font-weight: 400px;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 3%;  
    }
    .phone2:hover{color:rgba(33, 150, 243, 1) ;}






    .btn1{
        font-family: 'Roboto', sans-serif; 
        color: rgba(33, 33, 33, 1);
        font-weight: 500px;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3%; 
        align-items: center; 
    }
    .btn1:hover{background-color:rgba(33, 150, 243, 1) ;
    .btn1:hover, .btn1:focus {background-color:rgba(33, 150, 243, 1) ;
        color:rgba(255, 255, 255, 1);}
    
        .btn2{
            font-family: 'Roboto', sans-serif; 
            color: rgba(33, 33, 33, 1);
            font-weight: 500px;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 3%; 
            align-items: center; 
        }
        .btn2:hover{background-color:rgba(33, 150, 243, 1) ;
        .btn2:hover,.btn2:focus {background-color:rgba(33, 150, 243, 1) ;
            color:rgba(255, 255, 255, 1);}

            .btn3{
                font-family: 'Roboto', sans-serif; 
                color: rgba(33, 33, 33, 1);
                font-weight: 500px;
                font-style: normal;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 3%; 
                align-items: center; 
            }
            .btn3:hover{background-color:rgba(33, 150, 243, 1) ;
            .btn3:hover, .btn3:focus{background-color:rgba(33, 150, 243, 1) ;
                color:rgba(255, 255, 255, 1);}

                .btn4{
                    font-family: 'Roboto', sans-serif; 
                    color: rgba(33, 33, 33, 1);
                    font-weight: 500px;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 3%; 
                    align-items: center; 
                }
                .btn4:hover{background-color:rgba(33, 150, 243, 1) ;
                .btn4:hover, .btn4:focus{background-color:rgba(33, 150, 243, 1) ;
                    color:rgba(255, 255, 255, 1);}

                    .btn5{
                        font-family: 'Roboto', sans-serif; 
                        color: rgba(33, 33, 33, 1);
                        font-weight: 500px;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 3%; 
                        align-items: center; 
                    }
                    .btn5:hover{background-color:rgba(33, 150, 243, 1) ;
                        color:rgba(255, 255, 255, 1);}                        color:rgba(255, 255, 255, 1);}
                    .btn5:hover, .btn5:focus {background-color:rgba(33, 150, 243, 1) ;
                        color:rgba(255, 255, 255, 1);}




    .work{
        font-family: 'Roboto', sans-serif; 
        color: rgba(33, 33, 33, 1);
        font-weight: 700px;
        font-style: normal;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 6%; 
        text-decoration: none;
    }
    .work:hover {color:rgba(33, 150, 243, 1);}
    .web{
        font-family: 'Roboto', sans-serif; 
        color: rgba(117, 117, 117, 1);
        font-weight: 400px;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 3%; 
        
    }
    li{
        list-style-type: none;
    }

